/* YOUR CUSTOM STYLES */
main {
    padding-top: 5px;
}
@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}
[class*="col-xs-6"] {
   /* margin-bottom: 5px;*/
}
[class*="col-md"] {
    margin-bottom: 10px;
}
@media only screen and (max-height: 700px) {
    .scrollable {
        width: 100%;
        overflow-y: scroll;
        height: 300px;
    }
}


/*
     - violet
     - royal_blue
     - baby_blue
     - aqua
     - royal_mint
     - seafoam_green
     - green
     - lime_green
     - yellow
     - yellow_orange
     - orange
     - red
     - pink
     - fusia
     - lilac
     - lavendar
*/

.style-btn-white {
    background: white;
    color: black !important;
}

.style-btn-yellow {
    background: #FFFF00;
    color: black !important;
}

.style-btn-yellow-orange {
    background: #DAA520;
    color: black !important;
}

.style-btn-orange {
    background: #FFA500;
    color: black !important;
}

.style-btn-red {
    background: #FF0000;
    color: black !important;
}

.style-btn-pink {
    background: #FFC0CB;
    color: black !important;
}

.style-btn-fuchsia {
    background: #FF00FF;
    color: black !important;
}

.style-btn-lilac {
    background: #DA70D6;
    color: black !important;
}

.style-btn-lavender {
    background: #E6E6FA;
    color: black !important;
}

.style-btn-violet {
    background: #EE82EE;
    color: black !important;
}

.style-btn-royal-blue {
    background: #4169E1;
    color: black !important;
}

.style-btn-baby-blue {
    background: #87CEFA;
    color: black !important;
}

.style-btn-aqua {
    background: #00FFFF;
    color: black !important;
}

.style-btn-royal-mint {
    background: #7FFFD4;
    color: black !important;
}

.style-btn-seafoam-green {
    background: #2E8B57;
    color: black !important;
}

.style-btn-green {
    background: #008000;
    color: black !important;
}

.style-btn-lime-green {
    background: #32CD32;
    color: black !important;
}